Análisis REM8
 ==========

Comienzo cargando todos los paquetes necesarios

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy 
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import datetime as dt
import datetime
from datetime import timedelta  
import timeboard as tb # turnos 

# para tratar de poner espanol
from datetime import date, datetime, time
from babel.dates import format_date, format_datetime, format_time, format_timedelta, Locale
import locale                                    # para tratar de poner espanol
#locale = Locale('es', 'CL')
#locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')  

import os
import runpy
from pyexcel_ods import get_data
from matplotlib_venn import venn3
from matplotlib_venn import venn2, venn2_circles
import math

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline


#otro graficador
import seaborn as sns

#stats

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
# cargo algunos scripts que me suelen servir para análisis

In [3]:
#listo los archivos
scripts = []
for dirname, dirnames, filenames in os.walk('/home/egidio/Dropbox/Compucosas/programas py'):
    for filename in filenames:
        scripts.append(os.path.join(dirname, filename))

scripts

# los cargo
for script in scripts:
    if script[-3:] == '.py':
        exec(open(str(script)).read())

['/home/egidio/Dropbox/Compucosas/programas py/percentiles.py',
 '/home/egidio/Dropbox/Compucosas/programas py/características_operativas_de_test.py',
 '/home/egidio/Dropbox/Compucosas/programas py/lector_ODF.py',
 '/home/egidio/Dropbox/Compucosas/programas py/como importar',
 '/home/egidio/Dropbox/Compucosas/programas py/tabala_frecuencias.py',
 '/home/egidio/Dropbox/Compucosas/programas py/descripcion_univariada.py',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/características_operativas_de_test.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/tabala_frecuencias.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/lector_ODF.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/percentiles.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/funciones_locales.cpython-36.pyc',
 '/home/egidio/Dropbox/Compucosas/programas py/__pycache__/descripcion_univariada.cpython-36.pyc']

# Cargo la BD

In [4]:
BD = pd.read_pickle('./BD/eSAMU.pkl')

In [5]:
BD.columns
BD.head(2)

Index(['Id', 'Fecha', 'Motivo del Llamado', 'Submotivo del Llamado',
       'Prioridad', 'Estado', 'Edad', 'Género', 'Dirección', 'Sector',
       'Comuna', 'Región', 'Intervención', 'Tipo Traslado',
       'Categoría Vehículo', 'Condición Traslado', 'En Regulación',
       'En Despacho', 'En Curso', 'Atendida', 'Completado', 'Regulado',
       'Usuario que Cierra', 'Móvil Agregado', 'Móvil Despachado',
       'Móvil Salida', 'Móvil Llegada Lugar', 'Móvil en Traslado',
       'Móvil Llegada a CA', 'Móvil Recepción Paciente',
       'Móvil Camilla Retenida', 'Móvil Vuelta a Base', 'Móvil LLegada a Base',
       'Móvil Finalizado', 'Nombre Vehículo', 'Tipo Requerido',
       'Tipo Despachado', 'Km Recorrido', 'Chofer', 'Paramédico', 'Enfermero',
       'Doctor', 'Longitud', 'Latitud', 'Diff_recep_Despachado',
       'Diff_Despacho_Salida', 'Diff_salida_enellugar', 'Diff_z6_1',
       'Diff_z6_2', 'Diff_z6_3'],
      dtype='object')

,Id,Fecha,Motivo del Llamado,Submotivo del Llamado,Prioridad,Estado,Edad,Género,Dirección,Sector,...,Enfermero,Doctor,Longitud,Latitud,Diff_recep_Despachado,Diff_Despacho_Salida,Diff_salida_enellugar,Diff_z6_1,Diff_z6_2,Diff_z6_3
0,144550,2020-03-31 23:53:04,Dolor o Problema específico,Dificultad respiratoria leve - moderada (disnea),NaN,Completado,53.0,Masculino,x calle del agua pje 10 casa 161 b,recreo,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
1,144549,2020-03-31 23:42:58,Dolor o Problema específico,Dolor o problemas cabeza (cefalea),NaN,Regulado,34.0,Femenino,calle anibal pinto 45 dpto 305,"c12 , reñaca bajo",...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT

para efectos de este análisis es importante dividir ambulancias según su complejidad

In [6]:
BD['Bas_avan'] = BD['Tipo Despachado'] 
BD.loc[BD['Tipo Despachado'] == 'm1' , 'Bas_avan' ] = 'Básico'
BD.loc[BD['Tipo Despachado'] == 'm2' , 'Bas_avan' ] = 'Avanzado'
BD.loc[BD['Tipo Despachado'] == 'm3' , 'Bas_avan' ] = 'Avanzado'
BD.loc[BD['Tipo Despachado'] == 'x5' , 'Bas_avan' ] = 'Avanzado'

defino Bas_avan como categórico

# defino la BD con la que trabajaré

El informe a continuación es un análisis del:
* fecha
* sector

## según fecha

In [7]:
rango = (                                            #mes Abril
    (BD.Fecha > pd.to_datetime('2020-04-01')) &
    (BD.Fecha < pd.to_datetime('2020-04-30'))
)

db1 = BD[rango].copy()
np.sort(db1.Fecha.dt.to_period('M').unique())

array([Period('2020-04', 'M')], dtype=object)

## segun ambulancias

In [8]:
db1['Nombre Vehículo'].unique()

array(['R42', 'R80', 'R21', nan, 'R32', 'R24', 'AT51', 'R64', 'R12',
       'R43', 'R31', 'R26', 'R33', 'R20', 'R61', 'R13', 'R62', 'R92',
       'R11', 'R23', 'R63', 'R83', 'R10', 'AP41', 'Móvil Puchuncaví',
       'AP16', 'R82', 'R50', 'AT90', 'R22', 'R52', 'AP-17 Loncura',
       'AP31', 'AP28', 'R53', 'MOVIL LONCURA', 'R25',
       'MOVIL SAMU ACONCAGUA', 'AP15', 'R91', 'R57', 'R51', 'AP27',
       'AP 14', 'R71', 'R41', 'AP51', 'Móvil Papudo', 'AP1', 'R73',
       'Móvil Las Parcelas', 'Móvil Artificio', 'R72', 'W133 Carabineros',
       'MOVIL SAPU VENTANA', 'W56', 'R34', 'MOVIL EL MELON', 'AP26',
       'R35', 'Móvil Ventana', 'Móvil Nogales', 'AP2',
       'REMA  Poli Naval Villa Alemana', 'Móvil Hijuelas',
       'MOVIL PLACERES', 'R44', 'Móvil Traslado.', 'MOVIL RUTA'],
      dtype=object)

elegir uno

In [9]:
# Comentar todo o no

sector = db1['Nombre Vehículo'].str.contains('R3') == True
db1 = db1[sector]

In [10]:
texto1 = 'Este es un inforque que considera el mes de '
texto2 = 'En el territorio de '

#sector = 'SSVQ'
sector = db1.Comuna.value_counts().index[0]

mes= db1.Fecha.describe()[4].strftime('%B')

result = texto1 + mes + '. ' + texto2 + sector + '.' + '\n \n'
result
print(result, file=open('Informe.txt','a'))

'Este es un inforque que considera el mes de April. En el territorio de Quilpué.\n \n'

In [11]:
db1.Comuna.value_counts()

Quilpué          297
Villa Alemana     13
Name: Comuna, dtype: int64

# defino el archivo donde guardaré la info

Será un archivo

como dividir por fecha

In [12]:
np.sort(db1.Fecha.dt.to_period('M').unique())

array([Period('2020-04', 'M')], dtype=object)

## Sección K: INTERVENCIONES PRE HOSPITALARIAS (SAMU)

prestaciones según recurso

In [13]:
# los tiempos de z17 al z8 los divido según requisito planilla
cortado = pd.cut(
    db1.Diff_salida_enellugar.dt.seconds,
    [0, 20, 40, 1000000],
    labels = ['Menos 20 min',  '20 a 40 min',  'Más 40 min'])

# tabulo
#pd.crosstab(db1.Bas_avan, cortado, margins=True, margins_name= 'Total')

# tabulo por mes
print('Por Mes')
dum1 = cortado
for fecha in np.sort(db1.Fecha.dt.to_period('M').unique()):
    fecha
    test = db1.loc[db1.Fecha.dt.to_period('M') == fecha]
    result = pd.crosstab(
        test['Bas_avan'],
        dum1,
        margins=True, margins_name= 'Total', dropna=False)
    result.columns.name = 'Tiempo llegada al lugar'
    result.index.name = 'Tipo Móvil'
    result

Por Mes

Period('2020-04', 'M')

Tiempo llegada al lugar  Menos 20 min  20 a 40 min  Más 40 min  Total
Tipo Móvil
Avanzado                            0            1          85    129
Básico                              5            1         164    323
Total                               5            2         296    518

escribo en el archivo

In [14]:
titulo = 'Sección K: INTERVENCIONES PRE HOSPITALARIAS (SAMU)'
texto = 'Se asume que todas las intervenciones críticas son realizadas \
por móviles avanzados y que las no-críticas por móviles básicos. Esto \
determina que las casillas de las prestaciones críticas tengan valores \
de cero para móviles básicos y las prestaciones no-críticas tengan \
valores cero para móviles avanzados. \n \n'
espacios = '\n \n'

titulo
texto
result

print(titulo, file=open('Informe.txt','a'))
print(texto, file=open('Informe.txt','a'))
print(result, file=open('Informe.txt','a'))
print(espacios, file=open('Informe.txt','a'))

'Sección K: INTERVENCIONES PRE HOSPITALARIAS (SAMU)'

'Se asume que todas las intervenciones críticas son realizadas por móviles avanzados y que las no-críticas por móviles básicos. Esto determina que las casillas de las prestaciones críticas tengan valores de cero para móviles básicos y las prestaciones no-críticas tengan valores cero para móviles avanzados. \n \n'

Tiempo llegada al lugar  Menos 20 min  20 a 40 min  Más 40 min  Total
Tipo Móvil
Avanzado                            0            1          85    129
Básico                              5            1         164    323
Total                               5            2         296    518

## Sección L:  TRASLADOS PRIMARIOS A UNIDADES DE URGENCIA (Desde el lugar del evento a unidad de Emergencia)

In [15]:
db1['Categoría Vehículo'].value_counts()
#pd.crosstab(db1['Categoría Vehículo'], test['Bas_avan'])

db1['Categoría Vehículo'] = pd.Categorical(db1['Categoría Vehículo'],
                                           categories=['samu', 'enrutado', 'nosamu'])

enrutado    481
Name: Categoría Vehículo, dtype: int64

In [16]:
for fecha in np.sort(db1.Fecha.dt.to_period('M').unique()):
    fecha
    test = db1.loc[db1.Fecha.dt.to_period('M') == fecha]
    test = test.loc[test['Motivo del Llamado'] != 'Traslados']
    result = test.groupby(['Categoría Vehículo', 'Bas_avan' ])['Id'].count()
    result.index.names = ['Categoría Vehículo', 'Tipo móvil']
    result

Period('2020-04', 'M')

Categoría Vehículo  Tipo móvil
samu                Avanzado        0
                    Básico          0
enrutado            Avanzado       91
                    Básico        142
nosamu              Avanzado        0
                    Básico          0
Name: Id, dtype: int64

escribo en el archivo

In [17]:
titulo = ' Sección L:  TRASLADOS PRIMARIOS A UNIDADES DE URGENCIA'
texto = ' '

titulo
texto
result

print(titulo, file=open('Informe.txt','a'))
print(texto, file=open('Informe.txt','a'))
print(result, file=open('Informe.txt','a'))
print(espacios, file=open('Informe.txt','a'))

' Sección L:  TRASLADOS PRIMARIOS A UNIDADES DE URGENCIA'

' '

Categoría Vehículo  Tipo móvil
samu                Avanzado        0
                    Básico          0
enrutado            Avanzado       91
                    Básico        142
nosamu              Avanzado        0
                    Básico          0
Name: Id, dtype: int64

## Sección M: TRASLADO SECUNDARIO (Desde un Establecimiento a Otro)

In [18]:
for fecha in np.sort(db1.Fecha.dt.to_period('M').unique()):
    fecha
    test = db1.loc[db1.Fecha.dt.to_period('M') == fecha]
    test = test.loc[test['Motivo del Llamado'] == 'Traslados']
    result = test.groupby(['Categoría Vehículo', 'Bas_avan' ])['Id'].count()
    result.index.names = ['Categoría Vehículo', 'Tipo móvil']
    result

Period('2020-04', 'M')

Categoría Vehículo  Tipo móvil
samu                Avanzado        0
                    Básico          0
enrutado            Avanzado       32
                    Básico        153
nosamu              Avanzado        0
                    Básico          0
Name: Id, dtype: int64

In [19]:
titulo = ' Sección M: TRASLADO SECUNDARIO (Desde un Establecimiento a Otro)'
texto = ' '

titulo
texto
result

print(titulo, file=open('Informe.txt','a'))
print(texto, file=open('Informe.txt','a'))
print(result, file=open('Informe.txt','a'))
print(espacios, file=open('Informe.txt','a'))

' Sección M: TRASLADO SECUNDARIO (Desde un Establecimiento a Otro)'

' '

Categoría Vehículo  Tipo móvil
samu                Avanzado        0
                    Básico          0
enrutado            Avanzado       32
                    Básico        153
nosamu              Avanzado        0
                    Básico          0
Name: Id, dtype: int64

# Sección N: CLASIFICACION DE LAS INTERVENCIONES POR GRANDES GRUPOS DE DIAGNOSTICOS (SAMU)

In [20]:
db1['Patol'] = np.nan
db1.loc[db1['Submotivo del Llamado'] == 'Accidente vehicular o transporte. Atropellos',
        'Patol'] = 'PoliTMT'
db1.loc[db1['Submotivo del Llamado'] == 'Accidente múltiples víctimas (cualquier razón)',
        'Patol'] = 'PoliTMT'
db1.loc[db1['Submotivo del Llamado'] == 'Caídas graves',
        'Patol'] = 'PoliTMT'

db1.loc[db1['Submotivo del Llamado'] == 'Colapso respiratorio o circulatorio. PCR. Asfixia',
        'Patol'] = 'PCR'

db1.loc[db1['Submotivo del Llamado'] == 'Dolor de pecho',
        'Patol'] = 'SCA'

db1.loc[db1['Patol'].isnull(),
        'Patol'] = 'Otros'

db1['Patol'] = pd.Categorical(db1['Patol'], categories=['SCA', 'PCR', 'PoliTMT', 'Otros'])

In [21]:
db1.loc[db1['Género'] == 'Femenino', 'Género'] = 'Feme'
db1.loc[db1['Género'] == 'Masculino', 'Género'] = 'Masc'

db1['Género'] = pd.Categorical(db1['Género'], categories=['Masc', 'Feme'])

In [22]:
for fecha in np.sort(db1.Fecha.dt.to_period('M').unique()):
    fecha
    test = db1.loc[db1.Fecha.dt.to_period('M') == fecha]
    dum1 = pd.cut(test.Edad, range(0, 90, 5), right=False)  
    test['Patol'].value_counts(sort= False)
    result0 = pd.crosstab(test['Patol'], test['Género'])
    separador = ' -----------------------------------------------------------------'
    result1 = pd.crosstab(test['Patol'], [dum1, test['Género']]).iloc[:,:8]
    result2 = pd.crosstab(test['Patol'], [dum1, test['Género']]).iloc[:,8:16]
    result3 = pd.crosstab(test['Patol'], [dum1, test['Género']]).iloc[:,16:24]
    result4 = pd.crosstab(test['Patol'], [dum1, test['Género']]).iloc[:,24:]
    result0
    result1
    result2
    result3
    result4

Period('2020-04', 'M')

SCA          7
PCR          5
PoliTMT     33
Otros      473
Name: Patol, dtype: int64

Género   Masc  Feme
Patol
SCA         2     5
PCR         3     2
PoliTMT    21    10
Otros     255   206

Edad    [0, 5)      [5, 10)      [10, 15)      [15, 20)
Género    Masc Feme    Masc Feme     Masc Feme     Masc Feme
Patol
SCA          0    0       0    0        0    0        0    0
PCR          0    0       0    0        0    0        0    0
PoliTMT      0    0       1    0        0    0        0    1
Otros        6    3       4    3        3    4        4    5

Edad    [20, 25)      [25, 30)      [30, 35)      [35, 40)
Género      Masc Feme     Masc Feme     Masc Feme     Masc Feme
Patol
SCA            0    0        0    0        0    0        0    0
PCR            0    0        0    0        0    0        0    0
PoliTMT        3    0        3    2        4    1        2    2
Otros          9    6        9   13       11   10        4    9

Edad    [40, 45)      [45, 50)      [50, 55)      [55, 60)
Género      Masc Feme     Masc Feme     Masc Feme     Masc Feme
Patol
SCA            0    0        0    1        0    1        1    0
PCR            0    0        0    0        0    0        0    0
PoliTMT        1    0        1    0        4    1        0    0
Otros          6    2       15    8        9   10       10    8

Edad    [60, 65)      [65, 70)      [70, 75)      [75, 80)      [80, 85)
Género      Masc Feme     Masc Feme     Masc Feme     Masc Feme     Masc Feme
Patol
SCA            0    1        0    1        0    1        0    0        0    0
PCR            0    0        0    1        1    0        0    0        2    0
PoliTMT        1    0        0    0        0    2        0    0        0    0
Otros         29   10       27    6       17   10       35   15       20   22

In [23]:
titulo = ' Sección N: TRASLADO SECUNDARIO (Desde un Establecimiento a Otro)'
texto = 'Es una tabla larga, por lo que se divide en varios espacios '

titulo
texto
#result

print(titulo, file=open('Informe.txt','a'))
print(texto, file=open('Informe.txt','a'))
print(result0, file=open('Informe.txt','a'))
print(separador,file=open('Informe.txt','a'))  #Separador
print(result1, file=open('Informe.txt','a'))
print(separador,file=open('Informe.txt','a'))  #Separador
print(result2, file=open('Informe.txt','a'))
print(separador,file=open('Informe.txt','a'))  #Separador
print(result3, file=open('Informe.txt','a'))
print(separador,file=open('Informe.txt','a'))  #Separador
print(result4, file=open('Informe.txt','a'))
print(separador,file=open('Informe.txt','a'))  #Separador
print(espacios, file=open('Informe.txt','a'))

' Sección N: TRASLADO SECUNDARIO (Desde un Establecimiento a Otro)'

'Es una tabla larga, por lo que se divide en varios espacios '

# Finalización
Fin informe REM8

In [24]:
print('Fin informe REM 8', file=open('Informe.txt','a'))

# Análisis posteriores extra

In [25]:
db1[db1['Motivo del Llamado']=='Otro'][['Submotivo del Llamado', 'Id']]

                            Submotivo del Llamado      Id
361                                     Fallecido  151131
636                                     Fallecido  150718
641                                     Fallecido  150711
704                                         Otros  150569
728                                     Fallecido  150547
793                                     Fallecido  150440
812                                     Fallecido  150402
892                                     Fallecido  150276
1205                                        Otros  149824
1210                                    Fallecido  149815
1288                                    Fallecido  149661
1435                                    Fallecido  149402
1490                                    Fallecido  149284
1631                                    Fallecido  149124
1655                                        Otros  149090
1803                                    Fallecido  148921
1805                                    Fallecido  148917
1808                                    Fallecido  148911
1895                                    Fallecido  148754
2123                                    Fallecido  148425
2150                                    Fallecido  148397
2159                                    Fallecido  148385
2283                                    Fallecido  148241
2410                                    Fallecido  148055
2455                                    Fallecido  147983
2480                                    Fallecido  147952
2680                                    Fallecido  147596
2814                                    Fallecido  147404
2884                                        Otros  147332
3024                                    Fallecido  147122
3069  Catastofre (terremoto, incendio, estampida)  147055
3102                                        Otros  147009
3200                                    Fallecido  146835
3202                                    Fallecido  146832
3261                                    Fallecido  146737
3262                                    Fallecido  146736
3296                                    Fallecido  146695
3406                                        Otros  146525
3489                                    Fallecido  146429
3518                                    Fallecido  146392
3625                                    Fallecido  146246
3695                                    Fallecido  146152
3780                                    Fallecido  145990
3909                          Transporte Personal  145744
3958                                    Fallecido  145669
4149                                    Fallecido  145432
4193                                    Fallecido  145359
4435                                        Otros  145035
4504                                    Fallecido  144933
4600                                    Fallecido  144808
4750                                    Fallecido  144590
4771                          Transporte Personal  144569

In [26]:
BD.Fecha.describe()

count                  120172
unique                 105168
top       2018-11-23 14:30:10
freq                      442
first     2018-01-15 08:45:15
last      2020-04-30 23:45:00
Name: Fecha, dtype: object